pip-tools>=5.5
scikit-learn>=0.24.dev0
torch
torchvision
keras
tensorflow
nni==1.9
black
pandas
pytest
jsonnet
matplotlib
joblib
seaborn
jupyter
mypy
data-science-types
witwidget
jupyter_contrib_nbextensions
flake8
